func add(int a, int b) {
    return a + b;
}

func mul(int a, int b) {
     return a * b;
}

func main() {
    int a;
    int b;
    a = add(10, 2);
    print(a);
    b = mul(a, a + b);
    print(b);
}
