
# A function which takes in two numbers, a and b
# and spits out a + b
func add(int a, int b) {
    int c;
    c = a + b; 
    return c;
}

# A function which takes in two numbers, a and b
# and spits out a * b
func mult(int a, int b) {
    int c;
    c = a * b;
    return c;
}

func main() {
    int a = 1;
    int b = 2;
    int c;
    int d;
    c = add(a, b);
    print(c);
    d = mult(c, a + b);
    print(d);
}
