func add(int a, int b) {
    int c;
    c = a + b;
    return c;
}

func sub(int a, int b) {
    int c;
    c = a + b;
    return c;
}

func mult(int a, int b) {
    int c;
    c = a * b;
    return c;
}

func main() {
    int a = 1;
    int b = 2;
    int c;
    int d;
    c = add(a, b);
    print(c);
    d = mult(c, a + b);
    print(d);
}
