func main() {
  int a;
  int b;
  int c;

  # if statement, outputs 1 if true and 0 if false
  # the output of this if statement should be 1
  a = 50;
  b = 100;
  if a < b {
    c = 1;
  } else {
    c = 0;
  }

  print(c);


  # if statement, outputs 1 if true and 0 if false
  # the output of this if statement should be 0
  a = 100;
  b = 50;
  if a < b {
    c = 1;
  } else {
    c = 0;
  }
  print(c);
}
